head
  link(href="https://emoji-css.afeld.me/emoji.css", rel="stylesheet")
  link(rel='stylesheet', type="text/css", href='/css/style.css')
  link(rel='stylesheet', href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.min.css")


  <link rel="apple-touch-icon" sizes="120x120" href="assets/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="assets/favicon-16x16.png">
  <link rel="manifest" href="/assets/site.webmanifest">
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="msapplication-TileColor" content="#ff0000">
  <meta name="theme-color" content="#99cfff">

  <script src="https://kit.fontawesome.com/2fa8dd0704.js" crossorigin="anonymous"></script>
  <meta property="og:title" content="wushi" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://wushibot.xyz" />
  <meta property="og:image" content="/assets/sushi.png" />
  <meta property="og:description" content="A sushi-themed social bot with a unique economy system." />
  <meta name="viewport" content="width=device-width, initial-scale=1">